<!DOCTYPE html>
<html>
    <head>
        <meta name = "viewport" content="with = device-width, initial-scale=1.0">
        <title>Mental Health Detection</title>
        <link rel="stylesheet" href="static\css\style.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.6.0/css/fontawesome.min.css">
    </head>
    <body>
        <section class="header">
            <nav>
              <a href="index.html"> <img src="static\images\logo.png"></a>
              <div class="nav-links" id="navLinks">
                <i class="fa fa-times" onclick="hideMenu()" ></i>
                <ul>
                    <li><a href="/">Home  </a></li>
                    <li><a href=""> about </a></li>
                    <li><a href="/question" class="hero-btn">PHQ-9 Assessment</a></li>
                    <li><a href=""> Anxiety </a></li>
                </ul>
              </div>
              <i class="fa fa-bars" onclick="showMenu" ></i>
            </nav>
        <div class="text-box">
            <h1>Questionnaire</h1>
            <p> Types of questionnaire detail, <br>fregregrggrfrr </p>
            <a href="/question" class="hero-btn">Questionnaire form</a>
            <a href="/emotion-analysis" class="hero-btn">Analyze Emotions</a>
        </div>
        </section>

<!--------idk--------------------->
<section class="about">
    <h1> Tests for Mental Health</h1>
    <p>qwertyuiuytrsdfghjjhgfdsxcvbn,xzxcvbfd.</p>

    <div class="row">
        <div class="about-col">
            <h3>Depression</h3>
            <p>PHQ-9: A screening tool for depression symptoms. </p>
        </div>
        <div class="about-col">
            <h3>Anxiety</h3>
            <p> GAD-7: A screening tool and symptom severity measure for anxiety disorders.</p>
        </div>
        <div class="about-col">
            <h3>More</h3>
            <p>I actually dont know </p>
        </div>
    </div>
</section>

<section class="why">
    <h1>Project was Made By</h1>
    <p>Shaun Rodrigues, Colin Pereira, Chris Ruzario</p>
</section>

<section class="provide">
    <h1>What we Can provide help with</h1>
    <p>weffevdehvjnewiuewcndwuicndeuvifemnvfiuevmnfeivnmfeivnrvirtnvirnvmrfilkvmfrjkvmnfrviurfnvuifrvnfriuvbnfruinufdjkvfdnbmkfevnefkdvnrekefvnerivnreiuvnrviurvnfreiuvnfevinvtrun</p>
    <div class="provide-col">
        <img src="static\images\therapy.jpeg">
        <h3> therapy</h3>
        <p> </p>
    </div>
    <div class="provide-col">
        <img src="static\images\doctor.jpeg">
        <h3> Doctors</h3>
        <p> </p>
    </div>
    <div class="provide-col">
        <img src="static\images\remedies.jpeg">
        <h3> Remedies</h3>
        <p> </p>
    </div>
</section>


<!----------Testimonials---------->
<sections class = "testimonials">
    <h1>Reviews</h1>
    <p></p>
    <div class ="row">
       <div class ="testimonials-col">
            <img src="static\images\review1.jpeg">
            <div>
              <p>
                What a great website to check your mental state truly loved it!!!!!
              </p>  
              <h3>Christopher Mathew</h3>
              <i class="fa fa-star" ></i>
              <i class="fa fa-star" ></i>
              <i class="fa fa-star" ></i>
              <i class="fa fa-star" ></i>
              <i class="fa fa-star-o" ></i>
            </div>
       </div> 
       <div class ="testimonials-col">
        <img src="static\images\review3.jpeg">
        <div>
          <p>
            Easy and user friendly website, will recommend to my friends as well
          </p>  
          <h3>Elanor Williams</h3>
          <i class="fa fa-star" ></i>
              <i class="fa fa-star" ></i>
              <i class="fa fa-star" ></i>
              <i class="fa fa-star" ></i>
              <i class="fa fa-star-o" ></i>
        </div>
   </div> 
    </div>
</sections>



<section class="cta">
    <h1>Contact US<br> Since 2025</h1>

    <a href="" class="hero-btn">CONTACT US</a>
</section>


<section class="footer">
    <h4>About Us</h4>
    <p>qegbtrtrvtrgtrgvtrvvbfgvfdvcvfdvcfbvbvdx vfesfvfdvcdfvfgvfrbgbgfgcvfdvbgfrvgvbgf</p>
    <div class="icons">
        <i class="fa fa-facebook" ></i>
        <i class="fa fa-twitter" ></i>
        <i class="fa fa-instagram" ></i>
        <i class="fa fa-linkedin" ></i>
    </div>
</section>


<!------JavaScript for Toggle Menu--------->
<script>
    var navLinks = document.getElementById("navLinks");
    function showMenu(){
        navlinks.style.right= "0";

    }
    function hideMenu(){
        navLinks.style.right = "-200px";
    }

</script>

    </body>
</html>